*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    
}
html{
    scroll-behaviour: smooth;
    overflow-x: hidden; 
}
body{
    font-family:'Space-grotesk','Nunito';
    padding:0;
    margin:0;
    overflow-x: hidden;
}
.container{
    max-width:1170px;
    margin:auto;
    padding-left:20px;
    pading-right:20px;
    overflow-x:hidden;
   
}
section{
    padding: 50px 0;

}

.App {
    overflow-x: hidden; 
}
