*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    
}
html{
    scroll-behaviour: smooth;
}
body{
    font-family:'Space-grotesk','Nunito';
    
}
.container{
    max-width:1170px;
    margin:auto;
    padding-left:20px;
    pading-right:20px;
   
}
section{
    padding: 50px 0;

}
